    <div class="container item1">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="hero">
                    <div>Group 3 Presents:</div>
                    <div class="hero-big-text"> KGC Sandwiches </div>
                    <div>since 1996</div>
                </div>
            </div>
            <a class="btn btn-dark order-start-btn" href="/sandwich">Order Now!</a>
        </div>
    </div>  