/* style.css */

/* Body */

.background-one {
    background-color: #8b2e00;
    background-image: url('../images/pexels-rajesh-tp-1603901.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .background-two {
    background-color: #8b2e00;
    background-image: url('../images/pexels-rajesh-tp-1633525.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .background-three {
    background-color: #8b2e00;
    background-image: url('../images/pexels-rajesh-tp-1603898.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

#body-main {
    min-height: 100vh;
    margin: 0;
    color: white;
    display: grid;
    grid-template-rows: auto minmax(0,1fr) auto;
    row-gap: 20px;
  }
  
  /* Grid Container */
  .grid-container {
    display: grid;
    row-gap: 10px;
  }
  
  /* Grid Items */
  .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .item2 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  /* Navigation Bar */
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Footer */
  footer {
    color: white;
    text-align: center;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px black;
    margin-top: 65px;
    max-width: 50%;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background color with transparency */
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
  }
  
  .hero-big-text {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 0.2em;
  }

  .card {
    margin: 20px;
    background-color: #2e2e2e;
    color: white;
  }
  
  /* Buttons */
  .btn {
    font-weight: 500;
    letter-spacing: 3px;
  }
  
  .btn-dark {
    background-color: rgba(65, 65, 65, 0.7);
  }
  
  .order-start-btn {
    font-size: 30px;
  }
  
  .order-nav-btn {
    font-size: 20px;
  }
  
  /* Other Styles */
  .margin-five {
    margin: 5px;
  }
  
  .margin-fifteen {
    margin: 15px;
  }
  
  .margin-thirty {
    margin: 30px;
  }
  
  .padding-ten {
    padding: 10px;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .text-align-right {
    text-align: right;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  